$main-color: rgb(240, 255, 240);
$main-dark-color: rgb(209, 255, 209);
$dark-color: rgb(0, 114, 0);
$danger-color: #e74c3c;
$danger-hover: #c0392b;
$sidebar-bg: #2c3e50;
$sidebar-text: #ecf0f1;

.sidebar-container {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  overflow: hidden;
  padding: 20px 30px;
  transition: width 0.3s ease;
  justify-content: space-between;
}

.sidebar-top {
  display: flex;
  flex-direction: row-reverse;

  button {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: $dark-color;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

.toggle {
  display: none;
}

.sidebar-container:has(.toggle:checked) {
  width: 0.7%;
}

.sidebar-con-list {
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover,
  &.active {
    background-color: $main-dark-color;
    color: $dark-color;
  }
}

.sidebar-con-list p,
.user-info h3 {
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s ease, width 0.3s ease;
  margin-left: 17px;
}

.logout-button {
  background-color: $danger-color;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: auto;
  margin-left: 100px; 
  width: 50%;
  display: flex;
  justify-content: center;
  &:hover {
    background-color: $danger-hover;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 250px;
  background-color: $sidebar-bg;
  color: $sidebar-text;
  padding: 20px;
}

.user-info {
  margin-bottom: 20px;
  text-align: center;

  h3 {
    font-size: 18px;
    color: $dark-color;
  }
}


@media screen and (max-width: 1120px) {
  .logout-button,.sidebar-con-list,.sidebar-con-list p,
  .user-info h3{
    white-space: normal;
  overflow: hidden;
  }
  .logout-button{
    margin-top: auto;
    margin-left: 50px;
    justify-content: center;
  }
  
}


@media screen and (max-width: 600px) {
  .sidebar-container{
    white-space: nowrap;

  }
  
}


